.bingo-player {
  flex: 1;
  height: 80vh;
  border: solid 1px red;

  .player-header {
    .player {
      text-align: center;
      font-weight: bold;
      background-color: yellow;

      &.number2P {
        background-color: aqua;
      }
    }
  }

  .player-body {
    position: relative;

    .bingo-board {
      .bingo-rows {
        margin: 10px;

        &.inactive {
          opacity: 0.2;
        }
      }
    }

    .result {
      position: absolute;
      top: 120px;
      left: 60px;
      font: 150px bold;
      margin: 10px;
      &.DRAW {
        color: gray;
      }
      &.WIN {
        color: lime;
      }
      &.LOSE {
        color: red;
      }
    }

    .current-bingo {
      font: 100px bold;
      margin: 10px;
    }
  }
}