.bingo-cell {
  width: 80px;
  height: 80px;
  border: solid greenyellow 1px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    &:hover {
      background-color: orange;
      cursor: pointer;
    }
  }

  &.selected {
    background-color: gray;
  }
}